<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @enrollment.student %>
</p>

<p>
  <b>School class:</b>
  <%= @enrollment.school_class %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
